body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    overflow-y: scroll;
    /*background-color: rgb(242, 242, 242);*/
    
    font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Blocks space for images, use proper ratio as percentage or pixel */
.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color:black;
}

.image-height {
    padding-bottom: 1100px;
}

embed-container img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

/* Placeholder CSS */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
    font-size: 12px;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity: 1;
   font-size: 12px;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity: 1;
   font-size: 12px;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: gray;
   font-size: 12px;
   font-style: italic;
}