<!DOCTYPE html>
<html lang="en" ng-app="<%= AppName %>" ng-controller="Index">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title ng-bind="Title"></title>
  <link rel="icon" href="/client/content/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/client/dist/lib/lib.min.css">
  <link rel="stylesheet" href="/client/dist/app/app.min.css">
</head>

<body ng-cloak="">

  <div class="container body-container" ng-view=""></div>

  <script src="/client/dist/lib/lib.min.js"></script>
  <script src="/client/dist/app/app.min.js"></script>
</body>

</html>