<configuration>

	<appSettings>
		<add key="RunningOnIISNode" value="True" />
	</appSettings>

	<system.webServer>

		<staticContent>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>

		<modules runAllManagedModulesForAllRequests="false" />

		<handlers>
			<add name="iisnode" path="server/app.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="True">
					<match url="iisnode" />
				</rule>
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="True">
					<match url="^server\/app.js\/debug[\/]?" />
				</rule>
				<rule name="StaticContent" patternSyntax="Wildcard">
					<action type="Rewrite" url="client{REQUEST_URI}" logRewrittenUrl="True" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<match url="*.*" />
				</rule>
				<rule name="Api">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="server/app.js" logRewrittenUrl="True" />
					<match url="/api/*" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="server/app.js" logRewrittenUrl="True" />
					<match url="/*" />
				</rule>
			</rules>
		</rewrite>

		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
					<add segment="bower_components" />
				</hiddenSegments>
			</requestFiltering>
		</security>

	</system.webServer>
</configuration>